@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Homemade Apple";
    src: url("./font//HomemadeApple-Regular.ttf");
  }
@font-face {
    font-family: "Lexend";
    src: url("./font/Lexend-Bold.ttf");
  }
  


  @font-face {
    font-family: "Mukta";
    src: url("./font/Mukta-Regular.ttf");
  }

  .outlined{
    color: black;
    text-shadow:
    3px 3px 0 #fff,
    -3px 3px 0 #fff,
    -3px -3px 0 #fff,
    3px -3px 0 #fff;
  }