.floatJuice{
  animation-name: floating1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


@keyframes floating1 {
  0% { -webkit-transform: 
    translate(0em,  0em)  
    perspective(1000px)
    rotate(45deg)
       }
  50%  { -webkit-transform: translate(0em,  1em)  perspective(1000px)
    rotate(45deg)
       }
  100%   { -webkit-transform: translate(0em, 0em)  perspective(1000px)
    rotate(45deg)
       } 
}

.socialBanner{
  animation-name: borderGlow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    border-left: 0;
}

/* @keyframes borderGlow {
  0% {  
    border: blue 2px solid;
    border-left: 0;
       }
  50%  { 
    border: red 2px solid;
    border-left: 0;
       }
  100%   { 
    border: palevioletred 2px solid;
    border-left: 0;
       } 
} */



.floatPc{
  animation-name: floating2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: none;
}
.skills{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.profileCard{
  
background: #121212;
box-shadow:  6px 6px 66px #111111,
             -6px -6px 66px #131313;
             border: white 2px solid;
}
.skillsCard{
  border:#313131 2px solid;
  border-radius: 4px;
background: #292929;
box-shadow:  2px 2px 10px #272727a2,
             -2px -2px 10px #2b2b2b91;
}

@keyframes floating2 {
  0% { -webkit-transform: 
    translate(0em,  1em)  
    perspective(1000px)
    rotate(-45deg)
       }
  50%  { -webkit-transform: translate(0em,  0em)  perspective(1000px)
    rotate(-45deg)
       }
  100%   { -webkit-transform: translate(0em, 1em)  perspective(1000px)
    rotate(-45deg)
       } 
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Homemade Apple";
    src: url("./font//HomemadeApple-Regular.ttf");
  }
@font-face {
    font-family: "Seaweed Script";
    src: url("./font/SeaweedScript-Regular.ttf");
  }
@font-face {
    font-family: "Lexend";
    src: url("./font/Lexend-Bold.ttf");
  }
  


  @font-face {
    font-family: "Mukta";
    src: url("./font/Mukta-Regular.ttf");
  }

  .outlined{
    color: black;
    text-shadow:
    3px 3px 0 #fff,
    -3px 3px 0 #fff,
    -3px -3px 0 #fff,
    3px -3px 0 #fff;
  }