.floatJuice{
  animation-name: floating1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body{
  &::-webkit-scrollbar {
    width: 0em;
    height: 0em;
   }
 
   &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.552);
    border-radius: 3px;
 
    &:hover {
     background: rgba(255,255,255,.2);
    }
   }
}

@keyframes floating1 {
  0% { -webkit-transform: 
    translate(0em,  0em)  
    perspective(1000px)
    rotate(45deg)
       }
  50%  { -webkit-transform: translate(0em,  1em)  perspective(1000px)
    rotate(45deg)
       }
  100%   { -webkit-transform: translate(0em, 0em)  perspective(1000px)
    rotate(45deg)
       } 
}

.socialBanner{
  animation-name: borderGlow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
}

/* @keyframes borderGlow {
  0% {  
    border: blue 2px solid;
    border-left: 0;
       }
  50%  { 
    border: red 2px solid;
    border-left: 0;
       }
  100%   { 
    border: palevioletred 2px solid;
    border-left: 0;
       } 
} */



.floatPc{
  animation-name: floating2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: none;
}

.profileCard{
  
background: #121212;
box-shadow:  2px 2px 6px #5d5d5d,
             -2px -2px 6px #4a4a4a;
             border: white 2px solid;
             
             
}
.xCard{
  
background: #121212;
/* box-shadow:  6px 6px 66px #ffffff,
             -6px -6px 66px #a70000; */
             z-index: 2;
             border: white 2px solid;
}
.skillsCard{
  border:#313131 2px solid;
  border-radius: 4px;
background: #292929;
box-shadow:  2px 2px 10px #272727a2,
             -2px -2px 10px #2b2b2b91;
}
.projectCard{
  border:#ffffff80 2px solid;
  border-radius: 4px;
background: #1c1c1c;
box-shadow:  2px 2px 10px #272727a2,
             -2px -2px 10px #2b2b2b91;
}
html {
  scroll-behavior: smooth;
 }

.profilePhoto{
  animation-name: floating2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: none;
}

@keyframes floating2 {
  0% { -webkit-transform: 
    translate(0em,  1em)  
    perspective(1000px)
    /* rotate(-45deg) */
       }
  50%  { -webkit-transform: translate(0em,  0em)  perspective(1000px)
    rotateY(90deg)
       }
  100%   { -webkit-transform: translate(0em, 1em)  perspective(1000px)
    /* rotate(-45deg) */
       } 
}

.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #394a56;
}

.label-text {
  margin-left: 16px;
}

.toggle {
  isolation: isolate;
  position: relative;
  height: 30px;
  width: 60px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: -8px -4px 8px 0px #ffffff,
    8px 4px 12px 0px #d1d9e6,
    4px 4px 4px 0px #d1d9e6 inset,
    -4px -4px 4px 0px #ffffff inset;
}

.toggle-state {
  display: none;
}

.indicator {
  height: 100%;
  width: 200%;
  
  border-radius: 15px;
  transform: translate3d(-75%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  box-shadow: -8px -4px 8px 0px #ffffff,
    8px 4px 12px 0px #d1d9e6;
}

.toggle-state:checked ~ .indicator {
  transform: translate3d(25%, 0, 0);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Homemade Apple";
    src: url("./font//HomemadeApple-Regular.ttf");
  }
@font-face {
    font-family: "Seaweed Script";
    src: url("./font/SeaweedScript-Regular.ttf");
  }
@font-face {
    font-family: "Lexend";
    src: url("./font/Lexend-Bold.ttf");
  }
  


  @font-face {
    font-family: "Mukta";
    src: url("./font/Mukta-Regular.ttf");
  }

  .outlined{
    color: black;
    text-shadow:
    3px 3px 0 #fff,
    -3px 3px 0 #fff,
    -3px -3px 0 #fff,
    3px -3px 0 #fff;
  }